
/* Estilos para el contenedor del título */
.title-container {
    background-color: #c9724f; /* Color de fondo */
    text-align: center; 
    padding-top: 20px; /* Incrementa el espacio superior */
    padding-bottom: 80px; /* Incrementa el espacio inferior */
    width: 100%; /* Asegura que ocupe todo el ancho */
    margin-top: 60px; /* Deja margen superior para que no esté cubierto por la barra de navegación */
    box-sizing: border-box; /* Asegura que el padding no altere el ancho total */
}

/* Estilo para el título */
.title-container h1 {
    color: white; /* Color del texto del título */
    font-size: 30px;
    display: block;
    font-size: 2em;

}

/* Estilo para el subtítulo */
.title-container h2 {
    color: white; /* Color del texto del subtítulo */
    font-size: 20px;
    margin: 10px 0;
}



/* Estilo para la cita */
.quote {
    text-align: center; /* Centrar la cita */
    font-size: 1.6em; /* Aumentar el tamaño de la fuente de la cita */
    margin-top: 40px;
    margin-bottom: 70px;
    color: #333; /* Color de la cita, ajustable según tu preferencia */
    letter-spacing: 3px
}




/* Estilo para body  */
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 95%;
    color: #012;
    background-color: #FFF;
}



/* Estilo para la barra de navegación */
.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}   
