:root {
    --primary-bg: #16a085; /* Fondo del contenedor del título */
    --primary-text: white; /* Color de texto principal */
    --secondary-text: #828282; /* Color del texto de la cita */
    --navbar-bg: rgb(255, 255, 255); /* Color de la barra de navegación */
    --title-font-size: 4em; /* Tamaño de fuente del título */
    --subtitle-font-size: 20px; /* Tamaño de fuente del subtítulo */
    --quote-font-size: 1.2em; /* Tamaño de fuente de la cita */
}

h1, h2 {
    font-family: 'Quicksand', sans-serif;
}


body {
    font-family: 'Quicksand', sans-serif;
    font-size: 95%;
    color: #012;
    background-color: #FFF;
}

.title-container {
    background-color: var(--primary-bg);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 100px;
    width: 100%;
    margin-top: 55px;
    box-sizing: border-box;
}

.title-container h1 {
    color: var(--primary-text);
    font-size: var(--title-font-size);
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.title-container h2 {
    color: var(--primary-text);
    font-size: var(--subtitle-font-size);
    margin: 10px 0;
}

.quote {
    text-align: center;
    font-size: var(--quote-font-size);
    margin-top: 40px;
    margin-bottom: 70px;
    color: var(--secondary-text);
    letter-spacing: 3px;
}


.navbar {
    overflow: hidden;
    background-color: var(--navbar-bg);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0; 
    min-height: 50px; /* Controlar la altura mínima */
    display: flex;
    align-items: center; /* Alinear contenido verticalmente */
}
.navbar-brand {
    font-weight: bold;
}

.navbar.navbar-expand-lg {
    background-color: var(--navbar-bg) !important;
}




.navbar-nav .nav-link {
    float: left; /* Hacer que los enlaces floten a la izquierda */
    display: block; /* Mostrar como bloque */
    color: #0796ce; /* Color de texto personalizado */
    text-align: center; /* Centrar el texto */
    font-size: 17px; /* Tamaño de fuente */
    font-weight: 600; /* Aumenta el peso de la letra para que sea más notoria */
    padding: 10px 15px !important;
    line-height: 1;    
}




.title-container h1 {
    color: var(--primary-text);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}






.container {
    max-width: 1000px;
    margin: 60px auto;
}

h1.page-title {

    font-size: 2em;
}
