:root {
    --primary-bg: #16a085; /* Fondo del contenedor del título */
    --primary-text: white; /* Color de texto principal */
    --secondary-text: #828282; /* Color del texto de la cita */
    --navbar-bg: rgb(255, 255, 255); /* Color de la barra de navegación */
    --title-font-size: 4em; /* Tamaño de fuente del título */
    --subtitle-font-size: 20px; /* Tamaño de fuente del subtítulo */
    --quote-font-size: 1.2em; /* Tamaño de fuente de la cita */
}


@font-face {
    font-family: "MathItalic";
    src: url("fonts/math_italic.woff2") format("woff2"),
         url("fonts/math_italic.woff") format("woff"),
         url("fonts/math_italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: "MathItalic", sans-serif;
}



h1, h2 {
    font-family: 'Quicksand', sans-serif;
}


body {
    font-family: 'Quicksand', sans-serif;
    font-size: 95%;
    color: #012;
    background-color: #FFF;
}

.title-container {
    background-color: var(--primary-bg);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 100px;
    width: 100%;
    margin-top: 55px;
    box-sizing: border-box;
}

.title-container h1 {
    color: var(--primary-text);
    font-size: var(--title-font-size);
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.title-container h2 {
    color: var(--primary-text);
    font-size: var(--subtitle-font-size);
    margin: 10px 0;
}

.quote {
    text-align: center;
    font-size: var(--quote-font-size);
    margin-top: 40px;
    margin-bottom: 70px;
    color: var(--secondary-text);
    letter-spacing: 3px;
}


.navbar {
    overflow: hidden;
    background-color: var(--navbar-bg);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0; 
    min-height: 50px; /* Controlar la altura mínima */
    display: flex;
    align-items: center; /* Alinear contenido verticalmente */
}
.navbar-brand {
    font-weight: bold;
}

.navbar.navbar-expand-lg {
    background-color: var(--navbar-bg) !important;
}




.navbar-nav .nav-link {
    float: left; /* Hacer que los enlaces floten a la izquierda */
    display: block; /* Mostrar como bloque */
    color: #0796ce; /* Color de texto personalizado */
    text-align: center; /* Centrar el texto */
    font-size: 17px; /* Tamaño de fuente */
    font-weight: 600; /* Aumenta el peso de la letra para que sea más notoria */
    padding: 10px 15px !important;
    line-height: 1;    
}




.title-container h1 {
    color: var(--primary-text);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}






.container {
    max-width: 1000px;
    margin: 60px auto;
}

h1.page-title {

    font-size: 2em;
}



.reflection-quote{
    text-align: left;
    font-size: var(--quote-font-size);
    margin-top: 40px;
    margin-bottom: 70px;
    color: var(--secondary-text);
    letter-spacing: 3px;
}





.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card h3 {
    color: #333;
    margin-bottom: 10px;
}

.card p {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 15px;
}

.card-link {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

.card-link:hover {
    text-decoration: underline;
}

.highlight {
    background-color: #cce7ff; /* Azul oscuro pastel suave */
    color: #012; /* Mantén un color de texto oscuro para buena legibilidad */
    font-weight: bold;
    padding: 0 4px; /* Añade un pequeño padding para destacar */
    border-radius: 3px; /* Bordes ligeramente redondeados */
}


p {
    line-height: 32px;
}