<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@700&display=swap" rel="stylesheet">


    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<div class="title-container">
    <h1 class="mt-4">Ciencia, Tecnología y Sociedad</h1>
    <h2>Un Enfoque Basado en Proyectos</h2>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Botón de colapso para pantallas pequeñas -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Enlaces de la barra de navegación -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('participar') }}">Quiero Participar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('recursos') }}">Recursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('sobre') }}">Información</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('sociedad') }}">Ciencia y Sociedad</a>
        </li>
      </ul>
    </div>
  </nav>
  
    <!-- Contenido principal -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center py-4 mt-5">
        <p>&copy; 2023 Proyecto de Colaboración Matemática. Todos los derechos reservados.</p>
        <a href="#">Política de Privacidad</a> | <a href="#">Términos de Uso</a>
        <div class="social-icons">
            <!-- Enlaces o iconos de redes sociales -->
        </div>
    </footer>



<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
</body>
</html>
