<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- Asegúrate de que esta línea sea así -->

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="title-container">
    <h1 class="mt-4">Bienvenido al Proyecto de Colaboración Matemática</h1>
    <h2>Un Enfoque Basado en Proyectos para Aprender y Crear</h2>
</div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home') }}">Inicio</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('recursos') }}">Recursos</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('sobre') }}">Información</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('codigo_de_conducta') }}">Código de Conducta</a></li>
            </ul>
        </div>
    </nav>

    <!-- Contenido principal -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center py-4 mt-5">
        <p>&copy; 2023 Proyecto de Colaboración Matemática. Todos los derechos reservados.</p>
        <a href="#">Política de Privacidad</a> | <a href="#">Términos de Uso</a>
        <div class="social-icons">
            <!-- Enlaces o iconos de redes sociales -->
        </div>
    </footer>


</body>
</html>
