{%extends 'base.html' %}


{% block title %} Código de Conducta {% endblock %}


{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Código de Conducta</h1>
    <p class="lead text-center mb-5">
        En nuestro camino hacia el aprendizaje y el crecimiento colaborativo, es fundamental recordar que está bien no saber todo y que cometer errores es parte del proceso. Cada pregunta y cada tropiezo son oportunidades valiosas para aprender y mejorar.
         Este código de conducta está diseñado para fomentar un ambiente de respeto y apoyo mutuo, donde cada miembro del grupo se sienta libre de expresar sus dudas y aprender sin temor al juicio.
    </p>

    <ul >
        <li class="mb-3"><strong>Cumplimiento de Compromisos:</strong> Cada miembro se compromete a cumplir con las tareas y plazos asignados, garantizando que el grupo avance hacia sus objetivos.</li>
        <li class="mb-3"><strong>Participación Activa:</strong> Se espera que todos los participantes contribuyan activamente en las discusiones y actividades del proyecto, aportando ideas y esfuerzo.</li>
        <li class="mb-3"><strong>Comunicación Transparente:</strong> Mantener una comunicación abierta y honesta sobre el progreso de las tareas, informando al grupo sobre cualquier dificultad o cambio de circunstancias que pueda afectar el trabajo.</li>
        <li class="mb-3"><strong>Responsabilidad Compartida:</strong> Asumir la responsabilidad no solo de las propias tareas, sino también del éxito general del grupo, apoyando a los compañeros cuando sea necesario.</li>
        <li class="mb-3"><strong>Compromiso con el Aprendizaje:</strong> Estar dispuesto a aprender de los demás y contribuir al aprendizaje colectivo, respetando el tiempo y el esfuerzo de todos los involucrados.</li>
        <li class="mb-3"><strong>Respeto por los Acuerdos:</strong> Respetar las decisiones y acuerdos alcanzados en grupo, incluso si se requiere compromiso y flexibilidad personal.</li>
        <li class="mb-3"><strong>Reflexión y Mejora Continua:</strong> Comprometerse a reflexionar sobre el propio desempeño y buscar maneras de mejorar, tanto individualmente como en el contexto del grupo.</li>
        <li class="mb-3"><strong>Asumir Consecuencias:</strong> Reconocer que el incumplimiento de las responsabilidades asumidas puede llevar a la reconsideración de la participación en el proyecto, asegurando la integridad y el funcionamiento del equipo.</li>
        <li class="mb-3"><strong>Mentalidad Abierta:</strong> Asumir una actitud abierta, dispuestos a aprender y a aceptar correcciones para el crecimiento colectivo.</li>
    </ul>
</div>
{% endblock %}