{% extends 'base.html' %}

{% block title %}Matemáticas y Tecnología{% endblock %}

{% block content %}


<h1 class="page-title">Información General</h1>
<!-- Cita destacada -->
<blockquote class="quote">
    “Intentando lo imposible es como se consigue lo posible.”<br>
    <small>- Henri Barbusse</small>
</blockquote>

<!-- Sección: ¿Qué es? -->
<section class="mt-5">
    <h3>¿Qué es?</h3>
    <p> 
        Este es un espacio diseñado para <span class="highlight">aprender</span>, desarrollar y aplicar herramientas de <span class="highlight">inteligencia artificial</span>, <span class="highlight">ciencia de datos</span> y otras tecnologías emergentes,
         enfrentando problemáticas reales que requieren su implementación. Así, los participantes adquieren experiencia tanto en la construcción como en la aplicación 
         de estas herramientas.
         Por otro lado, también se busca generar un espacio para <span class="highlight">reflexionar sobre la ciencia misma</span>: explorando desde su método hasta sus límites y las implicaciones sociales de su uso. 
         Este enfoque invita no solo a desarrollar habilidades tecnicas, sino aprender cuestionar el impacto de la tecnología y el papel de los científicos y tecnólogos en la <span class="highlight">configuración de la sociedad moderna</span>.
    </p>
</section>

<!-- Sección: ¿Para qué? -->
<section class="mt-5">
    <h3>¿Para qué?</h3>

    <p>
        
        Este proyecto busca fomentar un diálogo que conecte la innovación tecnológica con las necesidades de la sociedad, explorando no solo 
        cómo estas herramientas transforman el mundo, sino también el papel crucial que las matemáticas y sus profesionales desempeñan en este proceso, promoviendo una reflexión que integre lo técnico, lo ético y lo social.

    </p>
</section>

<!-- Sección: ¿Para quién? -->
<section class="mt-5">
    <h3>¿Para quién?</h3>
    <p>Este programa está dirigido a estudiantes, profesionales y entusiastas de las matemáticas y la tecnología que buscan aplicar sus conocimientos en un contexto práctico y colaborativo.</p>
</section>

<!-- Sección: ¿Cuándo? -->
<section class="mt-5">
    <h3>¿Cuándo?</h3>

    <p>
        Las actividades del proyecto se llevarán a cabo a lo largo del semestre, con sesiones semanales de trabajo y colaboración, así como fechas específicas para presentaciones y evaluaciones.
    </p>
</section>

<!-- Sección: ¿Cómo? -->
<section class="mt-5">
    <h3>¿Cómo?</h3>
    <p>
        El aprendizaje se centrará en el desarollo de proyectos prácticos, donde los participantes trabajarán en equipos para abordar desafíos específicos que se adaptarán y evolucionarán según el nivel de experiencia de cada grupo. Este enfoque permitirá un progreso gradual,
        fomentando tanto el desarrollo de habilidades técnicas como la colaboración en la resolución de problemas reales. Cada grupo contará con recursos, mentoría y un marco estructurado que facilitará tanto el aprendizaje como la creación.
    </p>
</section>



{% endblock %}
