{% extends 'base.html' %}

{% block title %}Matemáticas y Tecnología{% endblock %}

{% block content %}


<h1 class="page-title">Información General</h1>
<!-- Cita destacada -->
<blockquote class="quote">
    “Intentando lo imposible es como se consigue lo posible.”<br>
    <small>- Henri Barbusse</small>
</blockquote>

<!-- Sección: ¿Qué es? -->
<section class="mt-5">
    <h3>¿Qué es?</h3>
    <p>Este proyecto se centra en aplicar conceptos matemáticos a problemas reales en colaboración con la industria. A través de un enfoque basado en proyectos, los participantes aprenderán a utilizar matemáticas para resolver desafíos contemporáneos.</p>
</section>

<!-- Sección: ¿Para quién? -->
<section class="mt-5">
    <h3>¿Para quién?</h3>
    <p>Este programa está dirigido a estudiantes, profesionales y entusiastas de las matemáticas y la tecnología que buscan aplicar sus conocimientos en un contexto práctico y colaborativo.</p>
</section>

<!-- Sección: ¿Cuándo? -->
<section class="mt-5">
    <h3>¿Cuándo?</h3>
    <p>Las actividades del proyecto se llevarán a cabo a lo largo del semestre, con sesiones semanales de trabajo y colaboración, así como fechas específicas para presentaciones y evaluaciones.</p>
</section>

<!-- Sección: ¿Cómo? -->
<section class="mt-5">
    <h3>¿Cómo?</h3>
    <p>Los participantes se agruparán en equipos para trabajar en proyectos específicos. Se proporcionarán recursos y mentoría para guiar a los grupos en su proceso de aprendizaje y creación.</p>
</section>

<!-- Sección: ¿Para qué? -->
<section class="mt-5">
    <h3>¿Para qué?</h3>
    <p>El objetivo es empoderar a los participantes con habilidades prácticas en matemáticas aplicadas y tecnología, preparándolos para enfrentar desafíos del mundo real y contribuir de manera significativa a la industria.</p>
</section>

{% endblock %}
